html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

.section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {

	background: #063647;
	float: left;
	width: 30%;

}

.section-5 {

	background: #063647;
	float: left;
	width: 60%;

}


.section-2 {
	background-color: #052D3D;
	float: left;
	width: 100%;
}

.section-3 {
	background-color: #0E282E;
	float: left;
	width: 100%;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
	float: left;
	width: 100%;

}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:150px;
	border-radius: 20%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:150px;
	margin-bottom:150px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 150px;
	max-width: 150px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
	height: 250px;
	width: 350px;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
